!!! html

%html{ lang: "en" }
  %head
    %title Simple Benchmark
    %meta{ charset: "utf-8" }
    %meta{ name: "description", content: "This is an example of a meta description." }
  %body
    %h1= header
    - unless item.empty?
      %ul
        - for i in item
          - if i[:current]
            %li
              %strong= i[:name]
          - else
            %li
              %a{:href => i[:url]}= i[:name]
    - else
      %p The list is empty.
