name: test
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  schedule:
    - cron: "0 15 * * 0"
jobs:
  basic:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: ['2.5', '2.6', '2.7', '3.0', '3.1', '3.2']
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - run: bundle install && bundle exec rake test
      - run: bundle install && bundle exec rake test:sinatra
        env:
          SINATRA: 2.2.4
      - run: bundle install && bundle exec rake test:sinatra
        env:
          SINATRA: 3.0.6
      - run: bundle install && bundle exec rake test:sinatra
        if: ${{ matrix.ruby != '2.5' }}
        env:
          SINATRA: 3.1.0
      - run: bundle install && bundle exec rake test:sinatra
        if: ${{ matrix.ruby != '2.5' }}
        env:
          SINATRA: main
  rails:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
      - run: bundle install && bundle exec rake test:rails
        name: "rake test:rails RAILS=5.2.8"
        env:
          RAILS: 5.2.8
      - run: bundle install && bundle exec rake test:rails
        name: "rake test:rails RAILS=6.0.6"
        env:
          RAILS: 6.0.6
      - run: bundle install && bundle exec rake test:rails
        name: "rake test:rails RAILS=6.1.7"
        env:
          RAILS: 6.1.7
      - run: bundle install && bundle exec rake test:rails
        name: "rake test:rails RAILS=7.0.7"
        env:
          RAILS: 7.0.8
      - run: bundle install && bundle exec rake test:rails
        name: "rake test:rails RAILS=7.1.0"
        env:
          RAILS: 7.1.2
      - run: bundle install && bundle exec rake test:rails
        name: "rake test:rails RAILS=main"
        env:
          RAILS: main
